<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

      <div class="footer-col-wrapper">

        <div class="footer-col footer-col-1">
          <p>© 2023 All rights reserved</p>
        </div>

        <div class="footer-col footer-col-3">
          <p style="text-align: end;">{{- site.description | escape -}}</p>
        </div>
      </div>

    </div>

    <!-- Analytics -->
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
    insights.init('SkXJE3aiN2S5Sc7O');
    insights.trackPages();
    </script>

  </footer>
